body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1a1a1a;
  overflow: hidden;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #104c0a;
  background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
}

/* Add a color to the active/current link */
.selectedPage {
  background-color: #104c0a;
  background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
}

/* Style the links inside the navigation bar */
.navigationBarLink {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Lucida Console;
}

/* Name style */
.name {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: Lucida Console;
	pointer-events: none;
	cursor: default;
}